Options -Indexes

<IfModule mod_headers.c>
  <Files "index.json">
    Header set Content-Type "application/json; charset=utf-8"
    Header set Cache-Control "public, max-age=300"
  </Files>
</IfModule>
