Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.soglasovano\.online$ [NC]
RewriteRule ^(.*)$ https://soglasovano.online/$1 [R=301,L]

RewriteCond %{HTTP:X-HTTPS} !1
RewriteRule ^(.*)$ https://soglasovano.online/$1 [R=301,L]
